.skills {
  padding: 100px 0;
  color: #fff;
  background-color: #000016;
}

.skills__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.skills__content {
  position: relative;
  max-width: 600px;
}

.skills__title {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.skills__text {
  margin-bottom: 20px;
  font-size: 17px;
}

.skills__link {
}

.skills__tech-stacks {
  max-width: 500px;
  width: 100%;
}

.tech-stacks-skills {
}

.tech-stacks-skills__stack {
  padding: 10px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.tech-stacks-skills__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.tech-stacks-skills__name,
.tech-stacks-skills__percent {
  font-size: 18px;
  font-weight: 500;
}

.tech-stacks-skills__line {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  &--html {
    &::before {
      background-color: #e45126;
      width: 95%;
    }
  }

  &--css {
    &::before {
      background-color: #0c78b8;
      width: 85%;
    }
  }

  &--javascipt {
    &::before {
      background-color: #e3a324;
      width: 80%;
    }
  }

  &--jquery {
    &::before {
      background-color: #30dd6d;
      width: 80%;
    }
  }

  &--php {
    &::before {
      background-color: #6d7eb8;
      width: 70%;
    }
  }
}
